body{
  background-color: darkslategrey;
}
.caixa-nome-da-ia{
  background-color: beige;
  color: black;
  height: 100px;
  width: 600px;
  border-radius: 10px;
  border:5px solid black;
  margin: 10px auto;
}
.nome-da-ia{
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.conteiner{
  width: 725px;
  height:500px;
  background-color: rgb(13, 89, 230);
  margin: auto;
  padding-bottom: 180px;
  border-radius: 9px;
  border: 2px inset black;
}

.caixa-de-texto{
  margin-top: 180px;
  margin-left: 15px;
  padding-bottom: 110px;
  padding-right: 530px;
  border-radius: 19px;
  border: 2px solid rgb(0, 0, 0);
}
.mensagem{
  width: 400px;
  height: 150px;
  background-color: aliceblue;
  margin-top: 70px;
  margin-left: 10px;
  border-radius: 10px;
  border: 3px solid black;
}

.resposta{
  position: relative;
  font-size: 40px;
  font-style: italic;
  margin-top: 0px;
  margin-left: 10px;
}

img{
  height: 40px;
  display: flex;
  transform: translateY(-370px);
  margin-left: 15px;
  border-radius: 9px;
  }

.botao{
  background-color: rgb(138, 146, 26);
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 2px solid black;
  transition: transform 0.4s ease;
  }

.botao:hover{
   transform: scale(1.5);
  }

.conteiner-botao{
  transform: translateY(-220px);
  margin-left: 670px;
}